
.mainFont{
	font-family: 'Montserrat', sans-serif;
}

.titleText{
	font: normal bold 42px/64px var(--mainFontFamily);
}

/*Buttons*/
.btn {
	padding: .8rem 2.2rem;
	font: normal 600 16px/20px var(--mainFontFamily);
	position: relative;
	/*z-index: 1;*/
	border: 2px solid transparent;
	border-radius: 4px;
}
.btn.primaryButton{
	background: var(--gradientColor);
	background-clip: padding-box;
	color: whitesmoke;
	transition: background .5s ease;
	box-shadow: var(--boxShadow);
}
.btn.primaryButton:hover {
	background: whitesmoke;
	background-clip: padding-box;
	color: black;
}
.btn.primaryButton::after, .btn.secondaryButton::after {
	position: absolute;
	top: -2px;
	left: -2px;
	right: -2px;
	bottom: -2px;
	background: var(--gradientColor);
	content: '';
	z-index: -1;
	border-radius: 4px;
}
.btn.secondaryButton {
	background: white;
	background-clip: padding-box;
	transition: background.5s ease;
}
.btn.secondaryButton:hover {
	background: var(--gradientColor);
	color: whitesmoke;
	box-shadow: var(--boxShadow);
}

p.para {
	color: var(--titleText);
	font: normal 500 16px/25px var(--mainFontFamily);
	
}

button:focus,
button:active
button:hover
.btn:active,
.btn.active{
	outline: 0px !important;
	box-shadow: none !important; 
}

.title-h1{
	font: normal bold 40px/42px var(--mainFontFamily);
}


.navbar_fixed {
	position: fixed;
	width: 100%;
	top: -1px;
	left: 0;
	right: 0;
	background: white;
	box-shadow: var(--boxShadow);
	z-index: 9;
	transition: background 1s ease;
}





